body {
    background-color: #DBD2C3;
}
/* style the main image */
#img1{
    width:100%;
    height:400px;
    position:;
    top:10px;
    left:50px;
}
/*style the signup button */
#start{
    background-color: #F0EDE6;
    color: black;
    padding: 10px 100px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
  }
  
  #my-button:hover {
    background-color: #DBD2C3;
  }
  /* style the second image */
  #img2{
    width:300px;
    height:300px;
    position:;
    top:10px;
    left:50px;
    border-radius: 20px;
    
  }

  /*style the main navigation bar*/
  
  #nav {
    position: fixed;
    top: 20PX;
    right: 10PX;
    background-color: ;
    width: 60%;
    text-align: right;
  }
  
  #nav ul {
    list-style: none;
    display: inline-block;
    padding: 5px 5px;
    margin: 0;
  }
  
  #nav ul li {
    display: inline-block;
    margin-left: 10px;
  }
  
  #nav ul li a {
    text-decoration: none;
    color: black;
    padding: 20px;
  }
  
  #nav ul li a:hover {
    background-color: #D4BEA7;
    border-radius: 30px;
    padding:10px 20px;
  }

  /*Style the list of services*/
  #p1{
    background-color: #D4BEA7;
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 15px;
  }
  #p2{
    background-color: #D4BEA7;
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 15px;
  }
  #p3{
    background-color: #D4BEA7;
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 15px;
  }
  #p4{
    background-color: #D4BEA7;
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 15px;
  }

  /* style quote text */
  #getstarted{
    
  }

  /*style bottom navigation bar*/

  

  
  